.icon {
  color: $white;
}

.nav-list-link {
  color: $white;
}

.nav-list-expander {
  color: $white;
}

.nav-list .nav-list-item .nav-list-expander {
  color: $white;
}

.nav-list .nav-cageory-list .nav-list-item .nav-list .nav-list-item .nav-list-expander {
  color: $white;
}

.site-button:hover {
  color: $white;
}

.btn:hover {
  color: $white;
}

.btn {
  color: $white;
}

.site-title {
  color: $white;
}
